.columns--ContentRow {
   margin-right: 0;
   margin-top: 0;
}

.columns--ContentRow:not(:last-child) {
    margin-bottom: 0;
}

.columns--ContentRow:nth-child(even) {
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: -0.75rem;
  background-color: #800000;
  color: #fff;

}

.columns--ContentRow:nth-child(even) .entete {
    color: #fff;
}

.column--image {
    background-size: cover;
    min-height: 20rem;
}

.column--contenu {
    padding: 5rem;
}


